@font-face {
    font-family: boiling;
    src: url("./assets/FontBoiling.ttf")
}
body{
    background-image:url("./assets/galaxy.jpg");
    width:100%;
    height:100%;
}
.about-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 150px;
  margin-right: 180px;
  
}
.about-container img{
  height: 300px;
  width: 300px;
}
#about-content{
  color:white;
  font-family: Bahnschrift;
  font-size: 40px;
}
#sub-text{
  font-size:20px;
  font-family: boiling;
  color:white;
}
.about-paragraph-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:auto;
}
.sidebar {
    height: 100%;
    width: 70px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 16px;
  }
  
  /* Style sidebar links */
  .sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 30px;
    color: white;
    display: block;
    padding-bottom: 20px;
  }
  
  /* Style links on mouse-over */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Style the main content */
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    padding: 0px 10px;
  }
  
  /* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
